.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

/* Tablet */
@media screen and (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media screen and (max-width: 576px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}